@import "variables";
@import "mixins";
.container {

    flex-direction: column;
    align-items: center;
 
}

.cardContainer {
    padding: 2.0625rem 2rem;
    min-width:100%;
    @include breakpoint-up(large) {
        min-width:80%;
    }
}

.jobCard {

    img{
        max-height: 3rem;
        transform: translateY(-50%);
        margin-bottom: -2rem;
        @include breakpoint-up(large) {
        transform: translateY(0%);
        margin-bottom: 0;
        max-height:100%;
    
        }
    }
    padding-left: 1.1875rem;
    background-color: white ;
  margin-bottom: 2.225rem;
   min-height: 10.0625em;
   
    border-radius: 10px;
    box-shadow: 0px 20px 35px -15px $desaturatedDarkCyan;

    //Left box shadow for first two cards
    &:nth-child(1), &:nth-child(2) {
        box-shadow: -6px 0px 0px 0px $desaturatedDarkCyan, 0px 20px 35px -15px $desaturatedDarkCyan;
    }
    @include breakpoint-up(large) {
        
     display: flex;   
     align-items: center;
   
    }
   
}
.logoImg {
    @include breakpoint-up(large) {
        
        
    }
}

.topContainer {
   display: block;
    &-name {
        color: $desaturatedDarkCyan;
        font-weight: 700;
    }
     &-new {
            color: white;
            background-color: $desaturatedDarkCyan;
            border-radius: 20px;
            padding: 0.4rem;
            margin: 0rem 1rem;
            font-size: $font-sm;
            
     }
     &-featured {
         color: white;
         background-color: $veryDarkGrayishCyan;
         border-radius: 20px;
         padding: 0.4rem;
         font-size: $font-sm;
                }
      @include breakpoint-up(large) {
          margin-left: 2rem;
          min-width:42%;
      }          
}

.middleContainer {
    width: 90%;
    border-bottom: 1px solid $darkGrayishCyan;
    
    article p {
   font-weight: 700; 
   
    }
    article ul {
       padding-left: 0;
    
    }
    li {
        color: $darkGrayishCyan;
        padding-right: 2rem;
        font-size: $font-sm;
        &:first-child{
            list-style-type: none;
        }
    }
    @include breakpoint-up(large) {
        border-bottom: 0;
    }
}

.bottomContainer {
    max-width:100%;
    flex-wrap: wrap;
   padding-top: 1rem;
}
