
$desaturatedDarkCyan: hsl(180, 29%, 50%);

//Neutral

//Background
$lightGrayishCyan: hsl(180, 52%, 96%);

//Filter Tablet
$lightGrayishCyan: hsl(180, 31%, 95%);

//
$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);

//Font-size
$font-md: 0.875rem;
$font-sm: 0.625rem;

$Spartan: 'Spartan';
